@import "mixins";
@import "normalize.css";
@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Prata&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
#root {
  background: $background;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
